.git/
.gitignore
.venv/
venv/
node_modules/
__pycache__/
*.py[cod]
*$py.class
*.log
*.swp
*.sqlite
*.sqlite3
.DS_Store
Thumbs.db
.adk/
.gemini/
deploy_app/open_webui/frontend/node_modules/
deploy_app/open_webui/app/data/*.db
deploy_app/open_webui/file_redis_store/
